body {
  margin: 0;
  padding: 0;
}
.main {
  max-width: 100%;
  height: 80vh;
  min-height: 400px;
  background-color: #47bcd9;
  text-align: center;
  overflow-x: hidden;
}
.app-name,
.app-description,
.app-textarea-container,
.app-textarea,
.app-warning,
.btn {
  position: relative;
}
.app-name,
.app-description,
.app-warning,
.app-warning:after,
.app-textarea,
.counter,
.btn,
.footer-copyright {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.app-name {
  top: 1em;
  margin: 0;
  color: #f5f5f6;
}
.app-description {
  top: 1em;
  color: #f5f5f6;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.app-textarea-container {
  top: 0;
  max-width: 400px;
  min-height: 200px;
  margin: 0 auto;
}
.app-warning {
  position: absolute;
  top: 0em;
  left: calc(50% - 120px);
  display: inline-block;
  width: 250px;
  margin: 0 auto;
  padding: 5px 12px 6px 10px;
  background-color: rgba(255,255,255,1);
  font-size: 0.9em;
  color: #47bcd9;
  border-radius: 3px;
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0;
  transform: translateX(-50%) translateY(80%) scale(.6, .6);
  transition: all .3s cubic-bezier(.17,.67,.83,.67);
}
.app-warning:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 30px;
  height: 30px;
  background-color: #e00032;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.app-warning:after {
  content: "!";
  position: absolute;
  top: 0.35em;
  right: 101.8%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-weight: 700;
  color: #e00032;
}
.app-textarea {
  position: absolute;
  top: 3.5em;
  left: calc(50% - 210px);
  width: 100%;
  height: 155px;
  padding: 8px 12px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  color: #666;
  box-shadow: 0 10px 20px -10px #333;
  resize: none;
}
.counter {
  position: absolute;
  bottom: -1.5em;
  right: -0.3em;
  color: #59b542;
  font-weight: 500;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 7px 25px;
  top: 2.8em;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
  color: #47bcd9;
  font-weight: 500;
  box-shadow: 0 10px 20px -10px #333;
  cursor: pointer;
  overflow: hidden;
}
.btn:after {
  content: "";
  position: absolute;
  top: 37%;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: rgba(34,81,112,0.3);
  border-radius: 50%;
  transform: scale(1, 1) translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}
.btn:focus:not(:active)::after {
  animation: circleGrow .3s ease-out;
}
@keyframes circleGrow {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  20% {
    transform: scale(2, 2);
    opacity: 1;
  }
  50% {
    transform: scale(4, 4);
    opacity: 0.7;
  }
  80% {
    transform: scale(5, 5);
    opacity: 0.5;
  }
  100% {
    transform: scale(9, 9);
    opacity: 0;
  }
}
/***  Footer  ***/
.footer {
  height: 20vh;
  min-height: 90px;
  background-color: #47bcd9;
  text-align: center;
}
.footer-copyright {
  margin: 0;
  padding-top: 1em;
  color: #f5f5f6;
  font-size: 1.1em;
}
.fa.fa-twitter,
.fa.fa-codepen,
.fa.fa-github {
  margin-top: 0.3em;
  padding: 3px 0;
  color: #f5f5f6;
  transition: all .1s linear;
}
.fa.fa-github {
  margin-left: 0.1em;
}
.fa:hover {
  color: #fff;
  transform: translateY(-3px);
}
.fa-2x {
  font-size: 1.3em;
}

@media screen and (min-width: 320px) and (max-width: 500px){
  .main {
    height: 100vh;
    min-height: 450px;
  }
  .app-textarea-container {
    max-width: 90%;
    height: 300px;
  }
  .app-textarea {
    box-sizing: border-box;
    left: 0;
    height: 220px;
  }
  .counter {
    bottom: 1.8em;
    right: 0.5em;
  }
  .btn {
    top: 0;
  }
}
